html {
    background-color: black;
    display: flex;
    justify-content: center;
}

body {
    height: 100vh;
    width: 75vh;    
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1f2937;
    color: white;
    flex: 1, 1;
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    overflow: hidden;   
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    
}

.logo {
    font-size: small;
    font-weight: bold;
    align-self: center;
}

.header li {
    display: inline;
    margin: 5px;
    font-size: x-small;    
}

.main {
    background-color: #1f2937;
    color: white;
    flex: 1, 1;
    flex-basis: 28%;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    overflow: hidden;
}

.main h3 {
    margin-bottom: 2%;
    margin-top: 10%;
}

.main p {
    font-size: small;
    margin-bottom: 5%;
    padding-right: 5%;
}

.main button {
    background-color: #3882f6;
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: .5em;
}

.main img {
    margin-top: 15%;
    margin-bottom: 5%;
}

.secondary {
    background-color: white;
    color: black;
    flex: 1, 1;
    flex-basis: 34%;
    overflow: hidden;
}

.secondary h3 {
    text-align: center;
    justify-content: center;
}

.photos {
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%; 
}

.photo {
    text-align: center;
}

.photo img {
    border-radius: 1em;
    border-color: #3882f6;
    border-style: solid;
}

.photo p {
    width: 100%;   
}

.quote {
    background-color: #e5e7eb;
    color: black;
    flex: 1, 1;
    flex-basis: 18%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
}

.italics {
    font-style: italic;
}

#left {
    text-align: right;
}

.call-to-action {    
    background-color: #3882f6;
    color: black;
    flex: 1, 1;
    flex-basis: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 3em 5em;
    padding-left: 10%;
    padding-right: 10%;
    
}

.rides h4 {
    margin-bottom: 0%;
}

.rides p {
    margin-top: 0%;
    font-size: x-small;
}

.call-to-action button {
    background-color: #3882f6;
    color: white;
    width: 8vh;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: .5em;
    border-style: solid;
    border-color: white;
}

.footer {
    background-color: #1f2937;
    color: white;
    flex: 1, 1;
    font-size: x-small;
    text-align: center;  
}