body {
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

.header {
    width: 640px;
    height: 35px;
    background-color: #1f2937;
    color: white;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:75px;
    padding-right: 75px;
    box-sizing: border-box;
        
}

.logo {
    align-self: center;
    font-weight: 800;
    font-size: small;

}

.header-links {
    align-self: center;
    
}

li {
    list-style-type: none;
    display: inline-block;
    font-size: x-small;
    margin: 5px;
}

.main {
    width: 640px;
    height: 161px;
    background-color: #1f2937;
    color: white;
    align-self: center;
}

.secondary {
    width: 640px;
    height: 161px;
    background-color: white;
    color: black;
    align-self: center;
}

.quote {
    width: 640px;
    height: 150px;
    background-color: #e5e7eb;
    color: black;
    align-self: center;
}

.call-to-action {
    width: 640px;
    height: 150px;
    background-color: white;
    color: black;
    align-self: center;
}

.footer {
    width: 640px;
    height: 35px;
    background-color: #1f2937;
    color: white;
    align-self: center;
}