html {
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 75vh;
    margin-top: 0%;
    margin-left: 21vh;
}

.header {
    background-color: #1f2937;
    color: white;
    flex: 1, 1;
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    
}

.logo {
    font-size: small;
    font-weight: bold;
}

.header li {
    display: inline;
    margin: 5px;
    font-size: x-small;
}

.main {
    background-color: #1f2937;
    color: white;
    flex: 1, 1;
    flex-basis: 24%;
}

.secondary {
    background-color: white;
    color: black;
    flex: 1, 1;
    flex-basis: 27%;
}

.quote {
    background-color: #e5e7eb;
    color: black;
    flex: 1, 1;
    flex-basis: 22%;
}

.call-to-action {
    background-color: white;
    color: black;
    flex: 1, 1;
    flex-basis: 17%;
}

.footer {
    background-color: #1f2937;
    color: white;
    flex: 1, 1;
    
}